<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="./images/logo-map-cms.png" type="image/png" />
        <title>CMS - Enterprise IT services for US & Europe for over 20 Years</title>
    </head>
    <body>
        <div role="navigation" aria-label="Main">
            <nav class="menu">
                    <a href="#">HOME</a>
                    <a href="#">ABOUT US</a>
                    <a href="#">WHAT WE DO</a>
                    <a href="#">CAREERS</a>
                    <a href="#">CONTACT US</a>
            </nav>
        </div>
    </body>
</html>